*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;  /* this line here makes body of screen size if not used then it will  only come up */
}

form{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  border: 1px solid orange;
}
